{% extends 'base.html.twig' %}

{% block title %}JobOrWork{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-10">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="{{path("oferta")}}">JobOrWork</a>
                </nav>
            </div>
            <div class="col-md-1"></div>

        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="list-group">

                
            </div>
            <div class="col-1"></div>
        </div>


    </div>
    


    

{% endblock %}
